<h2>Resume Dataset Inspection</h2>

In [16]:
import sys
import os

SRC_PATH = os.path.abspath("../src")
if SRC_PATH not in sys.path:
    sys.path.append(SRC_PATH)

print("Python can now see:", SRC_PATH)

Python can now see: d:\Data_Science\projects\AI_Interview_Predictor\src

In [4]:
import pandas as pd

# Load resume dataset
resume_path = "../data/raw/Resumes.csv"
resumes_df = pd.read_csv(resume_path)

# Basic info
resumes_df.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [6]:
print("Shape:", resumes_df.shape)
print("\nColumns:")
print(resumes_df.columns)

Shape: (2484, 4)

Columns:
Index(['ID', 'Resume_str', 'Resume_html', 'Category'], dtype='object')

In [7]:
resumes_df.isnull().sum()

ID             0
Resume_str     0
Resume_html    0
Category       0
dtype: int64

In [8]:
sample_index = 300  # change to 1, 5, 10 later
print(resumes_df.loc[sample_index, "Resume_str"])

         INFORMATION TECHNOLOGY MANAGER / NETWORK ENGINEER       Professional Overview     A highly skilled and accomplished Information Technology Manager with over 16 years of expertise in planning, implementing and streamlining IT systems to ensure maximum customer satisfaction and business revenue.   ​  Strong leader with demonstrated ability to work effectively with individuals at all levels and in all functional areas. Exceptional communication and project management skills with the ability to successfully manage multiple priorities and assignments.       Skills     Platforms:  Windows 2000, 2003 Server and Professional, Windows XP (Pro                     and Home), Win 3.11/95/98, Dos 6.22, Citrix ICA, MS Exchange                   2000   Hardware:  HP, IBM, Dell, and Intel Based Server and Desktop Platforms,                        Cisco 2500 Switches, Sonic Wall Hardware VPNs, HP Laser Jets,                    Toshiba E-310 Color Copier, Toshiba and Sony Laptops, Inter-tel     Software:   MS Office, Visio, Citrix Metaframe XP, Symantec: PC Anywhere,                     Ghost, Antivirus, Utilities, Win fax; McAfee Virus Scan, Adobe:                       Acrobat, Illustrator, Photoshop, Partition Magic, Adware,                               Spyware,    Networking: TCP/IP, Wireless 802.11 a/b/g, DNS, WINS, DHCP        Relevant Experience      Information Technology Manager / Network Engineer     Feb 2006   to   Current      Company Name   －   City  ,   State      Responsible for all day-to-day operations and functions of Wilkes & McHugh's six offices and 300 staff members.     Currently lead a team of 6 IT professionals and Developers in the planning, upgrades, and implementation of IT systems, business applications, and development of new software tools.    Work closely with the CIO and senior management to ensure business and technology objectives are aligned.   Researched new technologies and calculated future needs to achieve accurate capacity planning. Negotiated hardware and software purchases and maintenance contracts.  Dramatically reduced IT costs and maintenance by virtualizing the company's infrastructure using VMware.  Reduced physical servers from 50 to 4 and streamlined disaster recovery processes.   Planned and executed Active Directory domain migration from 2008 to 2012 R2.  Coordinated the planning and migration to MPLS network for 8 sites, including upgrades of all routers, switches and network equipment.   Increased speed and reliability of company email by migrating from Microsoft Exchange 2010 to 2016.   Streamlined operations by designing new Citrix infrastructure using Netscaler load balancers to ensure better speed and connectivity with less downtime for remote offices.    Led the planning and implementation of Disaster Recovery site in Atlanta. Created company's first comprehensive business continuity plan and tested with success.   Installed and configuring Barracuda Spam & Virus Firewalls resulting in the reduction of Spam by 40%.   Enforced security policies, managed, monitored and updated spam filtering, Virus and Malware prevention systems.  Reduced desktop & application deployment times by 60% by designing and implementing Microsoft's System Center Configuration Manager.   Conducted training on internal systems, local procedures and other technical subjects for company employees.  Coordinate with external technology vendors, internal staff members, and third-party consultants         Network Engineer     Sep 2003   to   Jan 2006      Company Name   －   City  ,   State     Administered and managed a Windows 2003 server network environment.   Responsible for all LAN and WAN duties of local and remote Networks.   Acted as a technical consultant for our clients and for various IT projects.    Provide End-User Support for Windows XP and 2000 Operating Systems.    Installed and implemented Exchange 2003 mail server.   Implemented Server and Desktop security using Mcafee Enterprise and ePolicy Orchestrator.    Installed and configured Web servers, FTP servers, and POP3 mail servers.   Manage Cisco 1900 Switches and 2600 Routers. Configured VPN Remote Access for users.   Implemented software, Domain policies, patches and upgrades using Group Policy and SUS.    Trained new employees in Systems Administration and Web development.          Network Support Technician     Jan 2003   to   Aug 2003      Company Name   －   City       Provided network and desktop support to over 800 users Provided technical support to all offices of the S.B.A.  Domain Supported the Help Desk using Help Star software Troubleshooting of Windows 98 and 2000 Desktop Computers Implemented Group Policy Objects to control desktop environment and security Performed Hardware and Software upgrades and replacements Performed installations and troubleshooting of MS Office Suite Managed users, computers, and Organizational Units through Active Directory Created disc images of desktop and notebook computers using Norton Ghost Troubleshooting and repairs of Laser Printers and Copy Machines.         Education       Bachelor of Science  ,   Management Information Systems    University of Maryland University College   －   City  ,   State            Certifications:          Microsoft Certified Technology Specialist 2008 (MCTS 2008)  Citrix Certified Administrator (CCA)       Information Systems Management Certificate       Project Management Certificate

In [9]:
resumes_df["Category"].value_counts().head(10)

Category
INFORMATION-TECHNOLOGY    120
BUSINESS-DEVELOPMENT      120
ADVOCATE                  118
CHEF                      118
ENGINEERING               118
ACCOUNTANT                118
FINANCE                   118
FITNESS                   117
AVIATION                  117
SALES                     116
Name: count, dtype: int64

In [ ]:
from utils.text_cleaning import clean_resume_text

# Drop HTML column (not needed)
resumes_df = resumes_df.drop(columns=["Resume_html"])

# Create cleaned text column
resumes_df["clean_resume"] = resumes_df["Resume_str"].apply(clean_resume_text)

resumes_df.head()

KeyError: "['Resume_html'] not found in axis"

In [23]:
resumes_df[["Resume_str", "clean_resume"]].iloc[0]

Resume_str               HR ADMINISTRATOR/MARKETING ASSOCIATE\...
clean_resume    hr administrator marketing associate hr admini...
Name: 0, dtype: object

In [24]:
resumes_df.to_csv("../Data/processed/resume_clean.csv", index=False)

In [27]:
resumes_df.shape
resumes_df.columns
resumes_df["clean_resume"].iloc[0][:500]

'hr administrator marketing associate hr administrator summary dedicated customer service manager with 15+ years of experience in hospitality and customer service management. respected builder and leader of customer focused teams  strives to instill a shared  enthusiastic commitment to customer service. highlights focused on customer satisfaction team management marketing savvy conflict resolution techniques training and development skilled multi tasker client relations specialist accomplishments'

In [28]:
resumes_df["Category"].value_counts().sort_values(ascending=False)

Category
INFORMATION-TECHNOLOGY    120
BUSINESS-DEVELOPMENT      120
ADVOCATE                  118
CHEF                      118
ENGINEERING               118
ACCOUNTANT                118
FINANCE                   118
FITNESS                   117
AVIATION                  117
SALES                     116
BANKING                   115
HEALTHCARE                115
CONSULTANT                115
CONSTRUCTION              112
PUBLIC-RELATIONS          111
HR                        110
DESIGNER                  107
ARTS                      103
TEACHER                   102
APPAREL                    97
DIGITAL-MEDIA              96
AGRICULTURE                63
AUTOMOBILE                 36
BPO                        22
Name: count, dtype: int64

In [29]:
resumes_df[
    resumes_df["clean_resume"].str.contains(
        "machine learning|data analyst|deep learning|artificial intelligence|data science",
        case=False,
        na=False
    )
][["Category", "clean_resume"]].head()

                   Category                                       clean_resume
182                DESIGNER  lead interaction designer summary senior ux ui...
315  INFORMATION-TECHNOLOGY  working rf systems engineer qualifications mic...
563    BUSINESS-DEVELOPMENT  business development analyst summary extensive...
583    BUSINESS-DEVELOPMENT  business development manager summary with 11 y...
662    BUSINESS-DEVELOPMENT  business development executive summary process...

<h2>Job Posting dataset Inspection</h2>

In [2]:
import os
import pandas as pd

PROJECT_ROOT = os.path.abspath("..")
DATA_RAW = os.path.join(PROJECT_ROOT, "Data", "raw")

job_df = pd.read_csv(os.path.join(DATA_RAW, "postings.csv"))

job_df.shape

(123849, 31)

In [3]:
job_df.shape

(123849, 31)

In [4]:
job_df.columns

Index(['job_id', 'company_name', 'title', 'description', 'max_salary',
       'pay_period', 'location', 'company_id', 'views', 'med_salary',
       'min_salary', 'formatted_work_type', 'applies', 'original_listed_time',
       'remote_allowed', 'job_posting_url', 'application_url',
       'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'skills_desc', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type', 'normalized_salary', 'zip_code', 'fips'],
      dtype='object')

In [5]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

In [6]:
job_df.isnull().sum().sort_values(ascending=False).head(15)

closed_time                   122776
skills_desc                   121410
med_salary                    117569
remote_allowed                108603
applies                       100529
min_salary                     94056
max_salary                     94056
currency                       87776
compensation_type              87776
pay_period                     87776
normalized_salary              87776
posting_domain                 39968
application_url                36665
formatted_experience_level     29409
fips                           27415
dtype: int64

In [16]:
job_df["title"].sample(10, random_state=42)

73989          Senior Automation Engineer - Power Systems
59308                DISH Installation Technician - Field
44663                                       Order Builder
81954                Mountain Multimedia Journalist, KMGH
113151                     Licensed Practical Nurse (LPN)
60072                     Human Resources Project Manager
50425                                  Clinical Paramedic
75853     CCTV/Access Control Installer (regional travel)
72947                                      Java Architect
58062      Laboratory Operations (LabOps) Project Manager
Name: title, dtype: object

In [ ]:
job_df["description"].sample(5, random_state=42)

73989     The Senior Automation / Power Systems Engineer...
59308     Company Summary\n\nDISH, an EchoStar Company, ...
44663     Division: North Alabama\n\nDepartment : Oxford...
81954     KMGH, the E.W. Scripps Company ABC affiliate i...
113151    Come for the Flexibility, Stay for the Culture...
Name: description, dtype: object

In [13]:
job_df["description"].str.len().describe()

count    123842.000000
mean       3766.464204
std        2146.492565
min           2.000000
25%        2176.000000
50%        3435.000000
75%        4986.000000
max       23201.000000
Name: description, dtype: float64

In [10]:
job_df["skills_desc"].dropna().sample(10, random_state=42)

34570                 \n\n\n\nPI501c5d48e158-29463-33769494
34548                 \n\n\n\nPI535495793c38-29462-34210853
36706                 \n\n\n\nPI50727267ba6f-29463-34207085
84127                                       Data Governance
34741                 \n\n\n\nPIc7a5278565e0-29463-34235491
51776     What you’ll need \n\n To perform this job succ...
89411                 \n\n\n\nPIf9bf289b8550-29463-34278228
34941                 \n\n\n\nPI9acd56c5d819-29463-34235550
13456     \n\nMinimum Qualifications\nBachelor's degree ...
101259                \n\n\n\nPI1f8a3eafb7d2-29462-33742936
Name: skills_desc, dtype: object

In [11]:
job_df[
    job_df["description"].str.len() < 50
][["title", "description"]].head(10)

,title,description
1436,Chief Executive Officer,tbd
2443,Director of Business Development,Sales and Marketing leader
2463,Network Security Specialist,On site
2512,Sales Specialist,Recruit Entrepreneurs to share a sales system.
2826,Independent Jeweler,Experienced Jeweler or Watch Repair
3591,Senior Software Engineer,https://boomi.com/boomi-jobs/?gh_jid=5149123004
6118,Delivery Driver,Pickup & Delivery
6149,Business Development Manager,Contact me if interested in learning more.
6274,Finisher,absolute pro
6338,Salesperson,insurance agent

Job cleaning & text creation

In [17]:
import re

job_cols = [
    "job_id",
    "title",
    "description",
    "skills_desc",
    "formatted_experience_level",
    "formatted_work_type"
]

jobs = job_df[job_cols].copy()

# Drop very poor descriptions
jobs = jobs[jobs["description"].str.len() >= 100]

# Clean skills_desc
def clean_skills(text):
    if pd.isna(text):
        return ""
    text = re.sub(r"PI[a-zA-Z0-9\-]+", "", text)
    text = re.sub(r"\s+", " ", text)
    return text.strip()

jobs["skills_desc"] = jobs["skills_desc"].apply(clean_skills)

# Combine text fields
jobs["clean_job_text"] = (
    jobs["title"].astype(str) + " " +
    jobs["description"].astype(str) + " " +
    jobs["skills_desc"].astype(str)
)

# Final text cleanup
jobs["clean_job_text"] = jobs["clean_job_text"].str.lower()
jobs["clean_job_text"] = jobs["clean_job_text"].str.replace(r"\s+", " ", regex=True)

jobs.shape

(123700, 7)

In [18]:
jobs.isnull().sum()

job_id                            0
title                             0
description                       0
skills_desc                       0
formatted_experience_level    29289
formatted_work_type               0
clean_job_text                    0
dtype: int64

In [19]:
jobs["clean_job_text"].str.len().describe()

count    123700.000000
mean       3791.119442
std        2136.068783
min         112.000000
25%        2210.000000
50%        3460.000000
75%        5005.000000
max       23182.000000
Name: clean_job_text, dtype: float64

In [20]:
jobs["formatted_experience_level"] = jobs["formatted_experience_level"].fillna("not specified")

In [21]:
DATA_PROCESSED = os.path.join(PROJECT_ROOT, "Data", "processed")
jobs.to_csv(os.path.join(DATA_PROCESSED, "jobs_clean.csv"), index=False)